<h2>Theory Submissions</h2>
<table>
<tr>
    <th>Student</th>
    <th>Answers</th>
    <th>Score</th>
    <th>Action</th>
</tr>
{% for sub in submissions %}
<tr>
    <td>{{ sub.user.username }}</td>
    <td>
        {% set answers = sub.answers_json | tojson | loads %}
        {% for qid, a in answers.items() %}
            <p>Q{{ loop.index }}: {{ a.text }} {% if a.file_path %}- <a href="{{ url_for('static', filename=a.file_path) }}">File</a>{% endif %}</p>
        {% endfor %}
    </td>
    <td>{{ sub.score or '' }}</td>
    <td><a href="{{ url_for('score_theory', submission_id=sub.id) }}">Score</a></td>
</tr>
{% endfor %}
</table>